# PhpStorm
.idea/

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Netbeans
nbproject/
nbactions.xml
nb-configuration.xml

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Sublime
*.sublime-workspace

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Project
cache/

